[Unit]
Description=Run generate_index script
Requires=network-online.target

[Service]
User=webgen
Group=webgen
ExecStart=/var/lib/webgen/bin/generate_index
Restart=on-failure
TimeoutSec=300  # Optional: Adjust based on expected script runtime

[Install]
WantedBy=multi-user.target
